*{
    margin: 0px;
    padding: 0px;
}
/* nav section */
.menu-container{
    background-color: black;
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-photo{
    width: 120px;

}
.menus{
    display: flex;
    
}
.item{
    margin-right: 10px;
    padding-right: 7px;
    font-size: 20px;
    cursor: pointer;
}
.item:hover{
    color: aqua;
}

/* header section */
.banner{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    border: 2px solid gray;
    background-image: url("./images/background.png");
   background-color: rgb(34, 34, 34);
   border: none;

}
.btn-primary{
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: coral;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
background-color: rgb(164, 99, 52);
    
}
.text{
    color: rgb(191, 189, 189);
    font-size: 35px;
    font-weight:bold;
}
.text-p{
    color: rgb(191, 189, 189);
    margin-top: 10px;
}